<section class="centerBox widthParallel clearfix" lang="fa">
    <div id="ribbon" class="hidden-xs">در دسترس باشيد<div class="arrow"></div></div>
    <article id="content">
        <div class="col-sm-3 col-xs-12 pull-right no-padding-right" lazy>
            <span class="title">خدمات طرح انديشان پويا</span>
            <ul>
                <a href=""><li>تجزیه، تحلیل و طراحی نرم افزار</li></a>
                <a href=""><li>مشاوره در استقرار و راه اندازی راهكارهای جامع نرم افزاری</li></a>
                <a href="web.php"><li>توليد و توسعه نرم افزارهای تحت WEB</li></a>
                <a href=""><li>طراحی و پياده سازی وب سايت</li></a>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 pull-right no-padding-right" lazy>
            <span class="title">پيوستن به طرح انديشان پويا</span>
            <ul>
                <a href=""><li>فرصت هاي شغلی</li></a>
                <a href="joinus.php"><li>پيوستن به ما</li></a>
                <a href="sales.php"><li>پيوستن به شبكه فروش</li></a>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 pull-right no-padding-right" lazy>
            <span class="title">لينك های پركاربرد</span>
            <ul>
                <a href=""><li>فرآيند خريد</li></a>
                <a href="demo.php"><li>درخواست دمو</li></a>
                <a href=""><li>بروشورهای پويا</li></a>
                <a href="map.php"><li>نقشه سايت</li></a>
            </ul>
        </div>
        <div id="newslatter" class="col-sm-3 col-xs-12 pull-right no-padding-right" lazy>
            <ul>
                <li>
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        <b>آدرس :</b>
                    </span>
                    تهران، خيابان شهيد بهشتی، روبروي خيابان پاكستان، پلاك 312
                </li>
                <div class="cl"></div>
                <li>
                    <span>
<i class="fas fa-phone"></i>                        <b>شماره تماس :</b>
                    </span>
                    88736505-021
                    &nbsp-&nbsp
                    88736506-021
                </li>
                <div class="cl"></div>
                <li>
<i class="fas fa-envelope"></i>                     <b>پست الکترونیکی :</b> info@puyasoft.com
                </li>
            </ul>
        </div>
    </article>
    <div class="cl"></div>
    <article id="bottom" class="clearfix">
        <ul class="col-sm-3 col-xs-12 pull-right no-padding">
            <li><a class="aparat icons" href=""></a></li>
            <li><a class="socicon-telegram iconsSocial" href=""><i class="fab fa-telegram-plane"></i></a></li>
            <li><a class="socicon-instagram iconsSocial" href=""><i class="fab fa-instagram"></i></a></li>
            <li><a class="socicon-twitter iconsSocial" href=""><i class="fab fa-twitter"></i></a></li>
            <li><a class="socicon-linkedin iconsSocial" href=""><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <div id="cr" class="col-sm-9 col-xs-12 pull-left no-padding">
            © تمامی حقوق معنوی مالکیت این وب‌سایت برای شرکت طرح انديشان پويا محفوظ است.
            <hr>
            © Copyright 2019 System Group. All rights reserved
        </div>
    </article>
</section>


<div id="searchModal" class="modal fade" role="dialog">
    <div id="content" class="centerPos clearfix">
        <i class="ti-close" data-dismiss="modal" ></i>
        <input type="text" id="text" placeholder="جستجو در سایت ..." />
        <button>جستجو</button>
    </div>
</div>