<header>
    <section id="mobile" class="show-xs">
        <img src="~/assets/site/image/screen/header/logo-construction-small.png" id="logo" />
        <button class="pull-left"><i class="material-icons ti-menu"></i></button>
        <ul class="pull-left">
            <li><i class="material-icons ti-user"></i></li>
            <li data-toggle="modal" data-target="#searchModal"><i class="material-icons ti-search"></i></li>
        </ul>
    </section>
    <section id="topbar" class="hidden-xs">
        <div class="centerBox widthParallel">
            <article class="col-sm-3 pull-right">
                <a href="index.php">
                    <img src="~/assets/site/image/screen/header/logo-construction.png" id="logo1" />
                    <img src="~/assets/site/image/icon/header/Logo-Master-Black.png" id="logo2" />
                </a>
            </article>
            <article id="nav" class="pull-left option hidden-sm">
                <ul>
                    <li><a class="labels" href=""><i class="far fa-user"></i></a></li>
                    <li data-toggle="modal" data-target="#searchModal"><a class="labels"><i class="fab fa-sistrix"></i></a></li>
                </ul>
            </article>
            <article id="nav" class="pull-left">
                <ul>
                    <li>
                        <a class="labels">ارتباط با ما <i class="fa fa-caret-down"></i></a>
                        <ul id="dropDown">
                            <a href="contact.php"><li>اطلاعات تماس</li></a>
                            <a href="contact.php"><li>پیوستن به ما</li></a>
                        </ul>
                    </li>
                    <li>
                        <a class="labels" href="about.php">درباره ما <i class="fa fa-caret-down"></i></a>
                        <ul id="dropDown">
                            <a href="about.php"><li>طرح اندیشان در یک نگاه</li></a>
                            <a href="about.php#history"><li>تاریخچه</li></a>
                            <a href="about.php#service"><li>حوزه فعالیت و خدمات</li></a>
                            <a href="about.php#admins"><li>مدیران</li></a>
                            <a href="about.php#responsibility"><li>مسئولیت های اجتماعی</li></a>
                            <a href="about.php#company"><li>همکاران و شرکاء تجاری</li></a>
                        </ul>
                    </li>
                    <li>
                        <a class="labels" href="">خدمات<i class="fa fa-caret-down"></i></a>
                        <ul id="dropDown">
                            <a href=""><li>تجزيه و تحليل و طراحی نرم افزار</li></a>
                            <a href=""><li>مشاوره در استقرار</li></a>
                            <a href="web.php"><li>توليد و توسعه نرم افزارهای تحت WEB</li></a>
                            <a href=""><li>طراحی و پياده سازی وب سايت</li></a>
                        </ul>
                    </li>
                    <li>
                        <a class="labels" href="mainsupport.php">پشتیبانی<i class="fa fa-caret-down"></i></a>
                        <ul id="dropDown">
                            <a href="esteghrar.php"><li>مشاوره در استقرار</li></a>
                            <a href="amuzesh.php"><li>آموزش</li></a>
                            <a href="support.php"><li>پشتیبانی</li></a>
                        </ul>
                    </li>
                    <li>
                        <a class="labels" href="product.php">محصولات <i class="fa fa-caret-down"></i></a>
                        <ul id="dropDown">
                            <li class="pro">
                                <a class="labels" href="cycle.php">چرخه های فرآیندی <i class="fas fa-angle-left"></i></a>
                                <ul id="dropDown">
                                    <a href="category.php?page=مدیریت-منابع-مالی"><li>مديريت منابع مالی</li></a>
                                    <a href="category.php?page=مديريت-منابع-انسانی"><li>مديريت منابع انسانی</li></a>
                                    <a href="category.php?page=مديريت-زنجيره-تامين"><li>مديريت زنجيره تامين </li></a>
                                    <a href="category.php?page=مديريت-منابع-توليد"><li>مديريت منابع توليد</li></a>
                                    <a href="category.php?page=مديريت-ارتباط-با-مشتريان"><li>مديريت ارتباط با مشتريان</li></a>
                                </ul>
                            </li>
                            <li class="pro">
                                <a class="labels" href="approach.php">راهکارهای پویا <i class="fas fa-angle-left"></i></a>
                                <ul id="dropDown">
                                    <a href="category.php?page=راهكار-شركت-های-توليدی"><li>راهكار شركت های توليدی</li></a>
                                    <a href="category.php?page=راهكار-شركت های-بازرگانی"><li>راهكار شركت های بازرگانی</li></a>
                                    <a href="category.php?page=راهكار-شركت-های-خدماتی"><li>راهكار شركت های خدماتی</li></a>
                                    <a href="category.php?page=راهكار-سازمان-های-دولتی"><li>راهكار سازمان های دولتی</li></a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="labels" href="index.php"><i class="fa fa-home"></i></a></li>
                </ul>
            </article>
        </div>
    </section>

</header>