<div id="modalNavigate" role="dialog">
    <div id="nav-mobile">
        <section class="content">
            <article class="content-head clearfix">
                <img src="~/assets/site/image/screen/header/logo-construction-small2.png" />
            </article>
            <article class="content-body clearfix">
                <ul id="list">
                    <li>
                        <a class="title"><i class="ti-angle-down"></i> محصولات</a>
                        <ul class="dropmenu clearfix head">
                            <li>
                                <a class="title"><i class="ti-angle-down"></i> چرخه های فرآیندی</a>
                                <ul class="dropmenu clearfix">
                                    <li><a href="category.php?page=مدیریت-منابع-مالی">مديريت منابع مالی</a></li>
                                    <li><a href="category.php?page=مديريت-منابع-انسانی">مديريت منابع انسانی</a></li>
                                    <li><a href="category.php?page=مديريت-زنجيره-تامين">مديريت زنجيره تامين</a></li>
                                    <li><a href="category.php?page=مديريت-منابع-توليد">مديريت منابع توليد</a></li>
                                    <li><a href="category.php?page=مديريت-ارتباط-با-مشتريان">مديريت ارتباط با مشتريان</a></li>
                                </ul>
                            </li>
                            <div class="cl"></div>
                            <li>
                                <a class="title"><i class="ti-angle-down"></i> راهکارهای پویا</a>
                                <ul class="dropmenu clearfix">
                                    <li><a href="category.php?page=راهكار-شركت-های-توليدی">راهكار شركت های توليدی</a></li>
                                    <li><a href="category.php?page=راهكار-شركت های-بازرگانی">راهكار شركت های بازرگانی</a></li>
                                    <li><a href="category.php?page=راهكار-شركت-های-خدماتی">راهكار شركت های خدماتی</a></li>
                                    <li><a href="category.php?page=راهكار-سازمان-های-دولتی">راهكار سازمان های دولتی</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="mainsupport.php">پشتیبانی</a></li>
                    <li>
                        <a class="title"><i class="ti-angle-down"></i> خدمات</a>
                        <ul class="dropmenu clearfix head">
                            <li><a href="">تجزيه و تحليل و طراحی نرم افزار</a></li>
                            <li><a href="">مشاوره در استقرار</a></li>
                            <li><a href="">توليد و توسعه نرم افزارهای تحت WEB</a></li>
                            <li><a href="">طراحی و پياده سازی وب سايت</a></li>
                        </ul>
                    </li>
                    <li><a href="">وبلاگ</a></li>
                    <li>
                        <a class="title"><i class="ti-angle-down"></i> درباره ما</a>
                        <ul class="dropmenu clearfix head">
                            <li><a href="">طرح اندیشان در یک نگاه</a></li>
                            <li><a href="">تاریخچه</a></li>
                            <li><a href="">حوزه فعالیت و خدمات</a></li>
                            <li><a href="">مدیران</a></li>
                            <li><a href="">مسئولیت های اجتماعی</a></li>
                            <li><a href="">همکاران و شرکاء تجاری</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title"><i class="ti-angle-down"></i> ارتباط با ما</a>
                        <ul class="dropmenu clearfix head">
                            <li><a href="contact.php">اطلاعات تماس</a></li>
                            <li><a href="contact.php">پیوستن به ما</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="cl"></div>
                <div id="about">
                    <div class="title">درباره طرح انديشان پويا</div>
                    <p>شرکت طرح اندیشان پویا در سال 1376 با هدف بهینه سازي و بالا بردن کارایی نرم افزارهاي موجود مالی و اداري در آن زمان و با به کارگیري خلاقیت فارغ التحصیلان دانشگاهی و جوانان نخبه ایرانی فعالیت خود را آغاز نموده است.</p>
                    <hr>
                    <ul class="clearfix">
                        <li><i class="material-icons">place</i> آدرس : لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                        <li><i class="material-icons">phone</i> شماره تماس : 88736505-021 <br>88736506-021</li>
                        <li><i class="material-icons">mail</i> پست الکترونیکی : info@puyasoft.com</li>
                    </ul>
                </div>
                <div id="social">
                    <ul class="clearfix">
                        <li><a class="aparat icons" href=""></a></li>
                        <li><a class="socicon-telegram iconsSocial" href=""></a></li>
                        <li><a class="socicon-instagram iconsSocial" href=""></a></li>
                        <li><a class="socicon-twitter iconsSocial" href=""></a></li>
                        <li><a class="socicon-linkedin iconsSocial" href=""></a></li>
                    </ul>
                </div>
            </article>
        </section>
    </div>
</div>

<div class="contactFix">
    <div class="indent" data-toggle="modal" data-target="#contactModal">
        <img src="~/assets/site/image/icon/wrraper/icon1.png" />
        <div class="cl"></div>
        تماس
    </div>
    <div class="indent demo" data-toggle="modal" data-target="#demoModal">
        <i class="ti-settings"></i>
        <div class="cl"></div>
        دمو
    </div>
</div>

<div id="contactModal" class="modal fade" role="dialog">
    <div id="content" class="centerPos clearfix">
        <i class="ti-close" data-dismiss="modal"></i>
        <div id="cover" class="col-sm-4 col-xs-12 pull-right no-padding hidden-xs">
            <img src="~/assets/site/image/screen/wrraper/Contact-Us.jpg" width="100%" />
        </div>
        <div id="detail" class="col-sm-4 col-xs-12 pull-right">
            <img class="iimage" src="~/assets/site/image/icon/wrraper/Phone.png" />
            <div class="cl"></div>
            <b>تماس با ما :</b>
            <div class="cl"></div>
            <ul>
                <li>پشتیبانی</li>
                <li>٨٨٥٣٢٩٧٩-٠٢١</li>
                <li>٨٨٥٣٢٩٨٠-٠٢١</li>
                <li>٨٨٥٣٢٩٨١-٠٢١</li>
                <li>٨٨٥٣٢٩٨٢-٠٢١</li>
            </ul>
            <ul>
                <li>فروش</li>
                <li>٨٨٧٣٦٥٠٥-٠٢١</li>
                <li>٨٨٧٣٦٥٠٦-٠٢١</li>
            </ul>
        </div>
        <div id="form" class="col-sm-4 col-xs-12 pull-left no-padding-left">
            <img class="iimage" src="~/assets/site/image/icon/wrraper/Mail.png" />
            <p><b>سوال‌ها، بازخوردها و نظرات‌تان را با ما در میان بگذارید:</b></p>
            <a href="">فرم تماس</a>
        </div>
    </div>
</div>